<aside>
    <a{{#if isCalendar}} class="active"{{/if}}  href="/profile/calendar">Мой календарь</a>
    <a{{#if isProfile}} class="active"{{/if}} href="/profile">Личный кабинет</a>
    <a{{#if isMess}} class="active"{{/if}} href="/profile/messenger">Переписка с психологом</a>
    <a{{#if isReception}} class="active"{{/if}} href="/profile/reception">Записаться на приём</a>
  </aside>