<section id="auth" class="auth">
    <form action="/profile/login" method="POST">
      <h2>Авторизация</h2>
      <div class="inputs">
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="pass" placeholder="Пароль">
      </div>
      <a href="/profile/registration">Регистрация</a>
      <div class="button-block">
        <button type="submit">Войти</button>
      </div>
    </form>
  </section>