<section class="choose">
    <h2>Выбрать специалиста</h2>
  <div>
    <div>
      <div class="psychologists">
        <div class="psychologist" 
             id="psychologist_1"
             onclick="getData(1)">
          <img src="PNG/psychologists/pexel-1520760.jpg" alt="">
          <p>К. Алина</p>
        </div>
        <div class="psychologist" 
             id="psychologist_2"
             onclick="getData(2)">
          <img src="PNG/psychologists/pexels-alexandr-polepkin-10761393.jpg" alt="">
          <p>П. Александр</p>
        </div>
        <div class="psychologist" 
             id="psychologist_3"
             onclick="getData(3)">
          <img src="PNG/psychologists/pexels-mentatdgt-1220757.jpg" alt="">
          <p>М. Ярослав</p>
        </div>
        <div class="psychologist" 
             id="psychologist_4"
             onclick="getData(4)">
          <img src="PNG/psychologists/pexels-mentatdgt-1526814.jpg" alt="">
          <p>М. Аружан</p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio" id="portfolio"></div>
  <form action="/choose_psy" method="POST" class="container">
  <select name="psy">
    <option id="option" value="123"></option>
  </select>
    <button type="submit" value="123">Выбрать этого специалиста</button>
  </form>
</section>


<script>

  // postData(0)
</script>