<footer>
    <div class="logo_footer">
      <!-- <img src="" alt="logo"> -->
      <div>
        MEDHELP
      </div>
      © 2022
    </div>

    <div class="content">
      <div>
        <h3>О нас</h3>
        <div>
          <a href="">История компании</a>
          <a href="">Сертификаты</a>
          <a href="">Партнерам</a>
        </div>
      </div>
      <div>
        <h3>Сотрудничество</h3>
        <div>
          <a href="/form">Сотрудничество</a>
          <a href="/form">Психологам</a>
        </div>
      </div>
      <div>
        <h3>Прочее</h3>
        <a href="">Проверка совместимости</a>
        <a href="/choose_psy">Психологи</a>
        <a href="">Вопросы-ответы</a>
        <a href="/form">Работа у нас</a>
      </div>
      <div>
        <h3>Контакты</h3>
        <a href="">Вконтакте</a>
        <a href="">Telegram</a>
        <a href="tel:+79138679727">+7 (913) 867-97-27</a>
        <p>ул. Усова 13в, Международный культурный центр ТПУ</p>
      </div>
    </div>
  </footer>