<footer>
    <div class="logo_footer">
      <!-- <img src="" alt="logo"> -->
      <div>
        MEDHELP
      </div>
      © 2022
    </div>

    <div class="content">
      <div>
        <h3>О нас</h3>
        <div>
          <a href="">История компании</a>
          <a href="">Сертификаты</a>
          <a href="">Партнерам</a>
        </div>
      </div>
      <div>
        <h3>Сотрудничество</h3>
        <div>
          <a href="">Сотрудничество</a>
          <a href="">Психологам</a>
        </div>
      </div>
      <div>
        <h3>Прочее</h3>
        <a href="">Проверка совместимости</a>
        <a href="">Психологи</a>
        <a href="">Вопросы-ответы</a>
        <a href="">Работа у нас</a>
      </div>
      <div>
        <h3>Контакты</h3>
        <a href="">Вконтакте</a>
        <a href="">Instagram</a>
        <a href="">Twitter</a>
        <a href="tel:+71234567890">+7 (123) 456-78-90</a>
        <p>ул. Усова 13в, Международный культурный центр ТПУ</p>
      </div>
    </div>
  </footer>