<main>
  <h1>Форма заявки</h1>
  <form action="/form"  method="POST">
    <h2>ФИО</h2>
    <div class="input"><input name="psy" type="text" placeholder="Иванов Иван Ивановоич"></div>
    <h2>Дата рождения</h2>
    <div class="input"><input name="birth" type="date"></div>
    <h2>Образование</h2>
    <div class="anotat">
      <i>
        Клиенты сервиса должны получать профессиональную 
      помощь лучшего качества, поэтому мы внимательно 
      проверяем все состовляющие процесса оказания психологической 
      помощи от вашего образования и опыта до технических характеристик 
      проведения консультации
      </i>
    </div>
    <div class="input"><input name="university" type="text" placeholder="Оренбургский государственный университет, Факультет психологии"></div>
    <h2>Номер телефона</h2>
    <div class="input"><input name="phone" type="text"  class="phone_mask"></div>
    <h2>Почта</h2>
    <div class="input"><input name="email" type="text"></div>
    <h2>Расскажите о себе</h2>
    <div class="input"><textarea name="about" name=""></textarea></div>
    <button  type="submit">Отправить</button>
  </form>
</main>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>

<script>
  $(".phone_mask").mask("+7(999)999-99-99");
</script>