<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if dot2}}
    <link rel="stylesheet" href="../stylesheet/style.css">
    {{#if isProfile}}<link rel="stylesheet" href="../stylesheet/profile.css">{{/if}}
    {{#if isReception}}<link rel="stylesheet" href="../stylesheet/profile.css">{{/if}}
    {{#if isCalendar}}<link rel="stylesheet" href="../stylesheet/profile.css">{{/if}}
    {{#if isMess}}<link rel="stylesheet" href="../stylesheet/profile.css">{{/if}}
    {{#if isPayment}}<link rel="stylesheet" href="../stylesheet/profile.css">{{/if}}
  {{else}}
    <link rel="stylesheet" href="stylesheet/style.css">
    {{#if isProfile}}<link rel="stylesheet" href="stylesheet/profile.css">{{/if}}
  {{/if}}
  <title>{{ title }}</title>
</head>