<main>
    <section class="right_s" id="s0">
      <div class="right_s_backgr backgr_s0">
        <div class="img">
          <img src="PNG/pexels-mikhail-nilov-8942264.jpg" alt="">
        </div>
      </div>
      
      <div class="right_s_content content_s0">
        <div>
          <h1>Психологическая помощь медицинским работникам</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Culpa ea aliquid, amet quidem dolorum placeat officiis 
            accusamus perferendis minus, eligendi aspernatur, illum 
            dolor dolore quia. Officia culpa id perspiciatis? Odio?
          </p>
          <button>Выбрать специалиста</button>
        </div>
      </div>
    </section>

    <article id="a0">
      <div class="content_a0">
        <div><div>1 200</div><p>регистраций вчера</p></div>
        <div><div>55 000</div><p>клиентов</p></div>
        <div><div>1 300</div><p>специалистов</p></div>
        <div><div>100%</div><p>конфиденциальность</p></div>
      </div>
    </article>

    <section class="left_s" id="s1">
      <div class="left_s_backgr backgr_s1">
        <div class="img">
          <img src="PNG/pexels-anthony-shkraba-7579302.jpg" alt="">
        </div>
      </div>

      <div class="left_s_content content_s1">
        <div>
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Culpa ea aliquid, amet quidem dolorum placeat officiis 
            accusamus perferendis minus, eligendi aspernatur, illum 
            dolor dolore quia. Officia culpa id perspiciatis? Odio?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Unde, totam. Non mollitia ut numquam, doloribus voluptatibus 
            qui. Eveniet voluptas soluta laudantium, amet ipsam rem in 
            omnis deserunt. Atque, optio nostrum.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Neque at omnis labore blanditiis nulla perferendis in, 
            temporibus architecto vel reprehenderit laborum delectus 
            vitae iure quo recusandae corrupti, eaque animi expedita.
          </p>
          <a href="https://yandex.ru/maps/?text=%D0%9F%D1%81%D0%B8%D1%85%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F%20%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%B0"
             target="_blank"
             class="map">
            Поиск организации на карте →
          </a>
        </div>
      </div>
    </section>

    <article id="a1">
      <div class="content_a1">
        <h2>Наши специалисты</h2>
        <div class="psychologists">
          <div class="psychologist" 
               id="psychologist_1"
               onclick="getData(1)">
            <img src="PNG/psychologists/pexel-1520760.jpg" alt="">
            <p>К. Алина</p>
          </div>
          <div class="psychologist" 
               id="psychologist_2"
               onclick="getData(2)">
            <img src="PNG/psychologists/pexels-alexandr-polepkin-10761393.jpg" alt="">
            <p>П. Александр</p>
          </div>
          <div class="psychologist" 
               id="psychologist_3"
               onclick="getData(3)">
            <img src="PNG/psychologists/pexels-mentatdgt-1220757.jpg" alt="">
            <p>М. Ярослав</p>
          </div>
          <div class="psychologist" 
               id="psychologist_4"
               onclick="getData(4)">
            <img src="PNG/psychologists/pexels-mentatdgt-1526814.jpg" alt="">
            <p>М. Аружан</p>
          </div>
        </div>

        <span class="line"></span>

        <div class="portfolio" id="portfolio"></div>
      </div>
    </article>

    <section class="right_s" id="s2">
      <div class="right_s_backgr backgr_s2">
        <div class="img">
          <img src="PNG/pexels-klaus-nielsen-6303650.jpg" alt="">
        </div>
      </div>

      <div class="right_s_content content_s2">
        <div>
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Culpa ea aliquid, amet quidem dolorum placeat officiis 
            accusamus perferendis minus, eligendi aspernatur, illum 
            dolor dolore quia. Officia culpa id perspiciatis? Odio?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Unde, totam. Non mollitia ut numquam, doloribus voluptatibus 
            qui. Eveniet voluptas soluta laudantium, amet ipsam rem in 
            omnis deserunt. Atque, optio nostrum.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Neque at omnis labore blanditiis nulla perferendis in, 
            temporibus architecto vel reprehenderit laborum delectus 
            vitae iure quo recusandae corrupti, eaque animi expedita.
          </p>
          <button>Выбрать специалиста</button>
        </div>
      </div>
    </section>
  </main>