<section class="mess">
  <div>
    <h1>Переписка с психологом <span>{{psy}}</span></h1>
    <div class="container">
      <span class="output">
        <div>
          <div class="name">Вы:</div>
          <div  class="message">Привет :)</div>
        </div>
      </span>
      <span class="input">
        <div>
          <div class="name">{{psy}}:</div>
          <div  class="message">Приветствую, ты уже записался на консультацию?)</div>
        </div>
      </span>
    </div>
    <div class="placeSendMessage">
      <div>
        <input type="text" placeholder="Введите сообщение">
        <button>Отправить</button>
      </div>
    </div>
  </div>
  {{> asideProfile}}
</section>