<main>
  {{#if isRegistation}}
    {{> registration}}
  {{else}} 
    {{#if isAuth}}
      {{> authorization}}
    {{else}}
      {{#if isProfile}}
        {{> messenger}}
      {{/if}}
      {{#if isReception}}
        {{> reception}}
      {{/if}}
    {{/if}}
  {{/if}}
</main>