<section id="mess" class="rec">
  <div>
    <h1>{{title}}</h1>
    <form action="/profile/reception" method="POST" class="container">
      <p>Выберите дату</p>
      <input type="date" name="date">
      <p>Выберите время</p>
      <input type="time" name="time">

      <button type="submit">Записаться</button>
    </form>

  </div>
</section>