<section id="reg" class="auth">
    <form action="/profile/registration" method="POST">
      <h2>Регистрация</h2>
      <div class="inputs">
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="pass" placeholder="Пароль">
      </div>
      <a href="/profile/login">Авторизация</a>
      <div class="button-block">
        <button type="submit">Зарегистрироваться</button>
      </div>
    </form>
  </section>