<main>
  <section>
    <div>
      <h1>Заявка успешно отправлена</h1>
    <div>
      В скором времени мы вам напишем на почту для согласования собеседования!
    </div>
    <div class="a"><a href="/">Вернуться на главную</a></div>
    </div>
  </section>
</main>