{{> head}}
<body>
  {{> header}}


  {{#if isMain}}
    {{> mainPage}}

    <script src="js/portfolio.js"></script>
    <script>
      getData(1)
    </script>
  {{/if}}


  {{#if isProfilePages}}
    {{> profile}}
  {{/if}}

  {{#if isChoose}}
    {{> choose_psy}}

    <script src="js/portfolio.js"></script>
    <script>
      getData(1, true)
    </script>
  {{/if}}

  {{#if isMain}}
    {{> footer}}
  {{/if}}
  {{#if isChoose}}
    {{> footer}}
  {{/if}}
  {{#if isForm}}
    {{> Form}}
  {{/if}}
  {{#if isSucced}}
    {{> succed}}
  {{/if}}
</body>
</html>