{{> head}}
<body>
  {{> header}}


  {{#if isMain}}
    {{> mainPage}}

    <script src="js/portfolio.js"></script>
    <script>
      getData(1)
    </script>
  {{/if}}


  {{#if isProfile}}
    {{> profile}}
  {{/if}}
  {{#if isReception}}
    {{> profile}}
  {{/if}}

  {{#if isMain}}
    {{> footer}}
  {{/if}}
</body>
</html>