html, body {
  height: 100%;
  overflow: hidden;
}


:root {
  --main-text-color: rgb(38, 168, 255);
}

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 25px;
  width: 100%; height: 100%;
  background-color: #f0f2f5;
}

section {
  position: relative;
  top: 0px;
  width: 300px; height: 350px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 40px;
}

section.auth>form>* {
  width: 100%;
  text-align: center;
}

section.auth>form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; height: 100%;
}

section.auth>form h2 {
  color: var(--main-text-color);
}

section.auth>form div.inputs {
  width: 290px;
  margin-top: 15px;
}

section.auth>form input {
  width: 240px; height: 30px;
  margin: 15px;
  border: 1px solid #c5c6c7;
  border-radius: 3px;
  padding: 5px 7px;
}

section.auth>form a {
  text-decoration: none;
  color: var(--main-text-color);
}

section.auth>form .button-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

section.auth>form button {
  width: 240px; height: 40px;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  background-color: var(--main-text-color);
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}

section.auth>form button:hover {
  background-color: #00000000;
  color: var(--main-text-color);
}


section.mess {
  width: 1000px; height: 600px;
  padding: 15px;
}


section.mess .container {
  margin-top: 15px;
  margin-right: 25px;
}

section.mess .content {
  display: flex;
  justify-content: space-between;
}

section.mess .container .dataUser {
  width: 290px;
}

section.mess .container .dataUser>div {
  margin-bottom: 10px;
}

section.mess .container .dataUser>div>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

section.mess .container .dataUser input {
  border: 1px solid #00000015;
  border-radius: 3px;
  color: #00000065;
  padding: 2px 3px;
}

section.mess .container .dataUser input[type=date] {
  width: 169px;
}

section.mess .container .dataUser div.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

section.mess .container .dataUser button {
  cursor: pointer;
  padding: 5px 13px;
  border: 1px solid rgb(38, 168, 255);
  border-radius: 3px;
  background-color: rgb(38, 168, 255);
  color: white;
}


@media screen and (max-width: 1075px) {
  section.mess {
    width: 100%;
    margin: 0 25px 0;
  }
}

section.mess>div {
  width: 100%; height: 100%;
}


section.mess .calendar-form {
  width: 100%;
}
section.mess .calendar-form>div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

section.mess .calendar-form>div a {
  cursor: pointer;
  padding: 5px 13px;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  background-color: var(--main-text-color);
  color: white;
  text-decoration: none;
}

section.mess .calendar-form>div a:hover {
  background-color: #00000000;
  color: var(--main-text-color);
}


#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar tbody td {
  color: rgb(44, 86, 122);
  cursor: pointer;
  border: 1px solid #00000000;
}
#calendar tbody td:hover {
  border: 1px solid #00000015;
}
#calendar tbody .no-border:hover {
  cursor: default;
  border: 1px solid #00000000;
}
#calendar tbody td:nth-child(n+6) {
  color: rgb(231, 140, 92);
}
#calendar .cons {
  color: rgb(38, 168, 255);
}
#calendar tbody td.today {
  color: rgb(0, 172, 43);
}



section.rec {
  width: 400px; height: 600px;
  padding: 15px;
}